/* Page =================================================== */

body {
	background: $bodycolor;
}

/**** Header ****/
header.main {
	background: $navoutercolor;
	position: relative;
}

header.main .row {
	background: $navcolor;
	height: 65px;
	overflow: visible;
	position: relative;
	z-index: 10;
}

h2.logo {
	margin: 0;
}

h2.logo a {
	background: url("images/front/logo-bg.png") no-repeat 0 0;
	display: block;
	height: 55px;
	left:15px;
	position: absolute;
	text-indent: -10000px;
	top:6px;
	width:212px;
}

.row {
	background: $contentcolor;
}

.content {
	padding: 2em 0;
}

/**** Navigation ****/

#main-nav {
	position: absolute;
	top:65px;
	width: 100%;
	z-index:1;
}

header.main a.btn-navbar,header.main a.btn-contact {
	@include border-radius(4px);
	cursor: pointer;
	height: 24px;
	padding: 10px;
	position: absolute;
	text-indent: -10000px;
	top:10px;
	width: 24px;
}

header.main ul.toggle {
	@include liststylenone;
}

#quick-contact {
	height: 0;
}

#quick-contact.expand {
	height: 480px;
}

header.main a.btn-navbar {
	background: $navcolorhover url('images/front/icon-threeline.png') 50% 50% no-repeat;
	right:10px;
}

header.main a.btn-contact {
	background: $navcolorhover url('images/front/icon-contact.png') 50% 50% no-repeat;
	right:65px;
}

ul.menu {
	background: #25272A;
	display: block;
	@include liststylenone;
	width:100%;
}

#main-nav ul li a {
	color: white;
	padding: 7px 0 7px 20px;
	display: block;
	text-shadow: 1px 1px 1px $darkgrey;
}

#main-nav ul li a:hover {
	background : $darkgrey;
}

#main-nav ul li {
	border-bottom: 1px solid #33383D;
}

ul.menu a:hover, .menu li.current-menu-item a  {
	color: $linkcolorhover;
	text-decoration: none;	
}

/**** Footer ****/

footer {
	color: $white;
	text-align: center;
}

footer a {
	color: $white;
}

footer.main {
	background: $ftrcolordarkgrey;
}

footer.main .row {
	background: $ftrcolordarkgrey;
}

footer.main .address {
	margin: 15px 0;
	color: #9CA5AC;
}

footer .links a {
	padding: 0 0 0 23px;
	margin: 0 20px 0 0;
}

footer.main .vcard {
	background: url('images/front/icon-vcard.png') 0 0 no-repeat;
}

footer.main .rss {
	background: url('images/front/icon-rss.png') 0 0 no-repeat;
}

footer.main .twitter {
	background: url('images/front/icon-twitter.png') 0 0 no-repeat;
}

footer .phone_number {
	border-left: 2px dotted #46494C;
	margin: 0 0 0 30px;
	padding: 5px 0 5px 30px;
}

footer.copyright {
	background: $red;
	font-size: .8em;
	padding: .6em 0;
}

footer.copyright .row {
	background: $red;
}

