/* ===================================================================================
 * Module Name: Page Layout > Listing
 * ===================================================================================
 * Contains layout outlines for all pages whose main content is listing,
 * e.g. search results, tag archives, time archives, etc.
 *
 * Expand or condense depending on section diversity.
 * Limit to containers layout only and avoid setting specific visuals for children elements.
 *
 * Filename convention: _[section]-[subsection/theme].scss
 *
 * @dependency $isPrototyping boolean Defines whether the block elements should be filled
 *                                    with colour to visualise the layout better.
 *                                    Expected to be set in _vars.scss.
 *
 * @imports __main.scss Definitions of main wrappers, including grid inits
 * =================================================================================== */

@import 'partials/modules/pageLayout/_main';






@mixin pageLayout($res:false){



	@if $res == false {
	/* ------------------------------------------------------
	 * GENERIC
	 * ------------------------------------------------------ */

		@include mainWrappers();

		.content,
		.content-full,
		.content-half,
		.sidebar{
			@include span-columns($total-columns);
			@include omega();
			position : relative;
			display  : block;

			@if($isPrototyping){
				background : rgba(255,0,0,.3);
			}
		}

		.no-header{
			margin-top: rhythm(2);
		}


		.header-ourwork{
			position   : relative;
			background : $grey-darker $pattern-stars repeat 50% 50%;
			overflow   : hidden;

			&:before{
				@include dim(100%, 200%);
				@include abs($l:0, $t:-50%);
				$experimental-support-for-svg: true;
				@include background-image(radial-gradient(center, ellipse cover,  #2f3340 0%, rgba(#2f3340, 0) 70%));
				content:'';
			}

			&:after{
				@include dim(100%, 200%);
				@include abs($l:0, $t:-50%);
				content    : '';
				background : transparent $pattern-stars repeat 50% 50%;
			}
		}

		.heading-ourwork{
			position : relative;
			z-index  : 5;
		}

		.gridList{
			text-align : center;
			padding    : 0;
			list-style : none;
			margin     : 0 auto;
		}


	/* ------------------------------------------------------
	 * ENDOF: GENERIC
	 * ------------------------------------------------------ */
	}











	@else if $res == "480" {
	/* ------------------------------------------------------
	 * 480
	 * ------------------------------------------------------ */

		@include mainWrappers("480");

		.content{
			@include remove-omega();
			width: columns(5);
		}

		.no-header{
			margin-top: rhythm(2);
		}

		.sidebar{
			@include omega();
			width: columns(3);
		}

	/* ------------------------------------------------------
	 * ENDOF: 480
	 * ------------------------------------------------------ */
	}










	@else if $res == "640" {
	/* ------------------------------------------------------
	 * 640
	 * ------------------------------------------------------ */

		@include mainWrappers("640");

		.content{
			@include remove-omega();
			width: columns(5);
		}

		.no-header{
			margin-top: rhythm(2);
		}

		.sidebar{
			@include omega();
			width: columns(3);
		}

	/* ------------------------------------------------------
	 * ENDOF: 640
	 * ------------------------------------------------------ */
	}










	@else if $res == "768" {
	/* ------------------------------------------------------
	 * 768
	 * ------------------------------------------------------ */
		@include mainWrappers("768");

		.content-half{
			@include span-columns($total-columns*.5);

			&:last-of-type{
				@include omega();
			}
		}

		.no-header{
			margin-top: rhythm(2);
		}

		.header-ourwork{
			&:before{
				$experimental-support-for-svg: true;
				@include background-image(radial-gradient(center, ellipse cover, #2f3340 0%, rgba(#2f3340, 0) 50%));
			}
		}

	/* ------------------------------------------------------
	 * ENDOF: 768
	 * ------------------------------------------------------ */
	}












	@else if $res == "960" {
	/* ------------------------------------------------------
	 * 960
	 * ------------------------------------------------------ */

		@include mainWrappers("960");

		.content{
			@include remove-omega();
			width: columns(7);
		}

		.sidebar{
			width: columns(4);
		}

		.content-half{
			@include span-columns($total-columns*.5);

			&:last-of-type{
				@include omega();
			}
		}

		.no-header{
			margin-top: rhythm(4);
		}

	/* ------------------------------------------------------
	 * ENDOF: 960
	 * ------------------------------------------------------ */
	}









	@else if $res == "1100" {
	/* ------------------------------------------------------
	 * 1100
	 * ------------------------------------------------------ */

		@include mainWrappers("1100");

	/* ------------------------------------------------------
	 * ENDOF: 1100
	 * ------------------------------------------------------ */
	}









	@else if $res == "1200" {
	/* ------------------------------------------------------
	 * 1200
	 * ------------------------------------------------------ */

		@include mainWrappers("1200");

		.content{
			@include post(1);
			width: columns(10);
		}

		.sidebar{
			width: columns(5);
		}

		.content-half{
			@include span-columns($total-columns*.5);

			&:last-of-type{
				@include omega();
			}
		}

		.no-header{
			margin-top: rhythm(4);
		}

		.header-ourwork{
			&:before,
			&:after{
				width       : 1000px;
				left        : 50%;
				margin-left : -500px;
			}

			&:before{
				$experimental-support-for-svg: true;
				@include background-image(radial-gradient(center, ellipse cover, #2f3340 100px, rgba(#2f3340, 0) 500px));
			}
		}

	/* ------------------------------------------------------
	 * ENDOF: 1200
	 * ------------------------------------------------------ */
	}


}