/* ===================================================================================
 * Module Name: About Process Graph Styles
 * =================================================================================== */




@mixin about-process($res:false){

	@if $res == false {
	/* ------------------------------------------------------
	 * GENERIC
	 * ------------------------------------------------------ */

		.about-process-graph{
			overflow : hidden;
			position : relative;
			z-index  : 1;

			&:before{
				@include dim(50%, 67%);
				@include abs($b:0, $l:27%);
				border        : .5em solid $grey-light;
				content       : '';
				border-radius : 1em;
				z-index       : -1;
			}

			li{
				@include box-sizing(border-box);
				@include dim(55%, auto);
				float         : left;
				padding       : 1em 0 1em 1em;
				margin-bottom : 3em;
				background    : $grey-lighter;
				text-align    : center;

				&:before{
					margin-left:-1em;
				}

			}

				svg{
					@include rel($l:-.5em);
					display  : block;
					margin   : 0 auto;
				}
		}


			.graph-process-discover:after{
				@include dim(.5em, 3em);
				@include rel($b:0, $l:-.375em);
				content    : '';
				margin     : .5em auto 1em;
				background : $grey-light;
			}

			.graph-process-measure{
				padding-bottom:2em;
			}

			.graph-process-evolve{
				@include abs($r:0, $t:60%);
				@include rotate(-90deg);
			}


	/* ------------------------------------------------------
	 * ENDOF: GENERIC
	 * ------------------------------------------------------ */
	}









	@else if $res == "320" {
	/* ------------------------------------------------------
	 * 320
	 * ------------------------------------------------------ */


	/* ------------------------------------------------------
	 * ENDOF: 320
	 * ------------------------------------------------------ */
	}













	@else if $res == "640" {
	/* ------------------------------------------------------
	 * 640
	 * ------------------------------------------------------ */




	/* ------------------------------------------------------
	 * ENDOF: 640
	 * ------------------------------------------------------ */
	}

















	@else if $res == "768" {
	/* ------------------------------------------------------
	 * 768
	 * ------------------------------------------------------ */



	/* ------------------------------------------------------
	 * ENDOF: 768
	 * ------------------------------------------------------ */
	}









	@else if $res == "800" {
	/* ------------------------------------------------------
	 * 800
	 * ------------------------------------------------------ */



	/* ------------------------------------------------------
	 * ENDOF: 800
	 * ------------------------------------------------------ */
	}








	@else if $res == "960" {
	/* ------------------------------------------------------
	 * 960
	 * ------------------------------------------------------ */





	/* ------------------------------------------------------
	 * ENDOF: 960
	 * ------------------------------------------------------ */
	}










	@else if $res == "1200" {
	/* ------------------------------------------------------
	 * 1200
	 * ------------------------------------------------------ */




	/* ------------------------------------------------------
	 * ENDOF: 1200
	 * ------------------------------------------------------ */
	}



}

