/* ===================================================================================
 * Module Name: Twitter Balloon
 * ===================================================================================
 * Contains all styles for the Twitter Ballon
 * =================================================================================== */




@mixin twitterBalloon($res:false){

	@if $res == false {
	/* ------------------------------------------------------
	 * GENERIC
	 * ------------------------------------------------------ */

		.panel-lowered{
			text-align: center;
		}

			.contentBalloon{
				width: 100% - $grid-padding*2;

				&:before {
					margin-left: -2em;
				}

				&:after {
					margin-left: -3.25em;
				}
			}

			.twitterLink{
				@include inline-block;
				@include box-sizing(border-box);
				@include adjust-font-size-to($base-font-size);
				font-weight : $headingFont-regular;
				position    : relative;
				padding     : 1em 0 1em 3.5em;
				margin-top  : 1.5em;
				color       : $dark-default;

				&:before{
					@extend %icon-twitter;
					@include transition(transform .7s ease);
					@include abs($t:0, $l:0);
					font-size : 3em;

				}
			}

		.contentBalloon:hover + .twitterLink:before,
		.twitterLink:hover:before{
			@include transform(rotate(-5deg) scale(1.25));
			@include transition-duration(.3s);
		}

	/* ------------------------------------------------------
	 * ENDOF: GENERIC
	 * ------------------------------------------------------ */
	}









	@else if $res == "320" {
	/* ------------------------------------------------------
	 * 320
	 * ------------------------------------------------------ */


	/* ------------------------------------------------------
	 * ENDOF: 320
	 * ------------------------------------------------------ */
	}













	@else if $res == "640" {
	/* ------------------------------------------------------
	 * 640
	 * ------------------------------------------------------ */




	/* ------------------------------------------------------
	 * ENDOF: 640
	 * ------------------------------------------------------ */
	}

















	@else if $res == "768" {
	/* ------------------------------------------------------
	 * 768
	 * ------------------------------------------------------ */

		.contentBalloon{
			width: 660px;
		}

	/* ------------------------------------------------------
	 * ENDOF: 768
	 * ------------------------------------------------------ */
	}









	@else if $res == "800" {
	/* ------------------------------------------------------
	 * 800
	 * ------------------------------------------------------ */


		.contentBalloon{
			width: 660px;
		}

	/* ------------------------------------------------------
	 * ENDOF: 800
	 * ------------------------------------------------------ */
	}








	@else if $res == "960" {
	/* ------------------------------------------------------
	 * 960
	 * ------------------------------------------------------ */





	/* ------------------------------------------------------
	 * ENDOF: 960
	 * ------------------------------------------------------ */
	}










	@else if $res == "1200" {
	/* ------------------------------------------------------
	 * 1200
	 * ------------------------------------------------------ */




	/* ------------------------------------------------------
	 * ENDOF: 1200
	 * ------------------------------------------------------ */
	}



}

